 <%- include("includes/head.ejs") %>
<title>index</title>
</head>
<%- include("includes/navigation.ejs") %>
<div class="container">
  <form class="col-6 offset-3 my-5">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <form method="post" action="/login">
          <button formmethod="post" formaction="/login" type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div>
  </form>
</div>

<%- include("includes/end.ejs") %>
