html {
  background-color: #F7F5EB;
}

body {
  background-color: #1D1E22;
  color: white;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #0D0D0D;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar .dropdown-toggle {
  height: 2em!important;
  min-height: 1em!important;
}

.nav-link {
  color: white;
}


.nav-link:hover {
  color: white;
}


.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid #4771fa;
  padding: 0.5rem;
  border-radius: 3px;
  background: #b9c9ff;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
  color: red;
}
